<div class="container">
  <div class="row">
    <div class="col header-produtos">
      <h1>Produtos</h1>
      <div>
        <button mat-button (click)="cadastraProduto()">Cadastrar produto</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-container col">
      <p class="m-4" *ngIf="!produtos || produtos.length === 0">
        Você ainda não possui produtos cadastrados, clique no botão <b>"Cadastrar produto"</b> para cadastrar seu
        primeiro produto.
      </p>
      <div *ngFor="let produto of produtos">
        <mat-card>
          <mat-card-title>{{produto.nome}}</mat-card-title>
          <mat-card-subtitle>{{produto.descricao}}</mat-card-subtitle>
          <div class="image-box">
            <img mat-card-image [src]="getImageUrl(produto)" [alt]="'Foto de ' + produto.nome">
          </div>
          <mat-card-content>{{produto.preco | currency : 'BRL' : 'symbol' : '1.2-2' : 'pt_BR'}}</mat-card-content>
          <mat-card-actions>
            <button mat-icon-button type="button" (click)="exclui(produto)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
