<app-header-deslogado></app-header-deslogado>

<div class="container" *ngIf="produto">
  <h1>{{produto.nome}}</h1>
  <img class="imagem-produto" [src]="getImageUrl(produto.imagem)" [alt]="'Foto de ' + produto.nome">
  <p>{{produto.descricao}}</p>

  <ul>
    <li><b>Valor:</b> {{produto.preco | currency}}</li>
    <li><b>Serve:</b> {{produto.quantidadePessoas}} pessoas</li>
    <li><b>Categorias:</b> {{getCategorias()}}</li>
  </ul>

  <button mat-button type="button" (click)="efetuarPedido()">efetuar pedido</button>
</div>
