.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000000000000;
  background-color: #FFFFFF;
  text-align: center;
}


app-logo {
  display: inline-block !important;
  margin: 50px;
}

mat-spinner {
  margin: 20px auto;
}

p {
  color: #585858;
}
