.navegador-mes * {
  color: #FFFFFF;
}

.navegador-mes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

*{
  text-align: center;
}

.saldos p {
  margin-top: -18px;
}

.row {
  margin-bottom: 50px;
}
