<div *ngIf="formulario" class="row text-align-center">
  <div mat-dialog-title>
    <app-header-dialog titulo="Novo Produto" (onFechar)="fechar()"></app-header-dialog>
  </div>
  <mat-dialog-content>
    <form autocomplete="off" [formGroup]="formulario">
      <div>
        <mat-form-field class="inverso">
          <mat-label>Nome do produto</mat-label>
          <input matInput formControlName="nome">
          <mat-error class="inverso" *ngIf="formulario.get('nome')?.errors?.required">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="inverso">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao" rows="3"></textarea>
          <mat-error class="inverso" *ngIf="formulario.get('descricao')?.errors?.required">campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="inverso">
          <mat-label>Preço</mat-label>
          <input moeda matInput formControlName="preco">
          <mat-error class="inverso" *ngIf="formulario.get('preco')?.errors?.required">Campo obrigatório</mat-error>
          <mat-error class="inverso" *ngIf="formulario.get('preco')?.errors?.min">Valor inválido</mat-error>
        </mat-form-field>

        <mat-form-field class="inverso">
          <mat-label>Quantidade de pessoas</mat-label>
          <input type="number" matInput formControlName="quantidadePessoas">
          <mat-error class="inverso" *ngIf="formulario.get('quantidadePessoas')?.errors?.required">Campo obrigatório
          </mat-error>
          <mat-error class="inverso" *ngIf="formulario.get('quantidadePessoas')?.errors?.min">Valor inválido</mat-error>
        </mat-form-field>

        <mat-form-field class="inverso">
          <mat-label>Imagem</mat-label>
          <input matInput [formControl]="descricaoImagemInput" maxlength="18">
          <mat-error class="inverso" *ngIf="formulario.get('imagem')?.errors?.required">Campo obrigatório</mat-error>
          <button mat-icon-button matSuffix type="button" (click)="imagemInput.click()">
            <mat-icon>file_upload</mat-icon>
          </button>
        </mat-form-field>
        <input style="display: none" type="file" accept="image/*" #imagemInput (change)="selecionaImagem($event)">

        <mat-form-field class="inverso">
          <mat-label>Categorias</mat-label>
          <mat-select formControlName="categorias" multiple>
            <mat-option *ngFor="let categoria of categorias"
                        [value]="categoria.codigo">{{categoria.nome}}</mat-option>
          </mat-select>
          <mat-error class="inverso" *ngIf="formulario.get('categorias')?.errors?.required">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>

      <button mat-button class="inverso" type="submit" [disabled]="formulario.invalid" (click)="cadastraProduto()">
        Cadastrar
      </button>
    </form>
  </mat-dialog-content>
</div>
