<div class="container">
  <div class="row">
    <div class="col p-3">
      <h1>vamos falar do seu estabelecimento?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col p-3">
      <h2>agora vamos precisar que você fale um pouco sobre o seu estabelecimento</h2>
    </div>
  </div>
  <div class="row p-3 p-lg-5">
    <form autocomplete="off" [formGroup]="formulario">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>nome da estabelecimento</mat-label>
            <input matInput formControlName="nome">
            <mat-error *ngIf="formulario.get('nome')?.errors?.required">campo obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>cnpj</mat-label>
            <input matInput mascara="##.###.###/####-##" formControlName="cnpj" maxlength="18">
            <mat-error *ngIf="formulario.get('cnpj')?.errors?.required">campo obrigatório</mat-error>
            <mat-error
              *ngIf="formulario.get('cnpj')?.errors?.minlength || formulario.get('cnpj')?.errors?.cnpjInvalido">
              cnpj inválido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>descrição</mat-label>
            <textarea matInput formControlName="descricao" maxlength="500"></textarea>
            <mat-error *ngIf="formulario.get('descricao')?.errors?.required">campo obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>imagem</mat-label>
            <input matInput [formControl]="descricaoImagemInput" maxlength="18">
            <mat-error *ngIf="formulario.get('imagem')?.errors?.required">campo obrigatório</mat-error>
            <button mat-icon-button matSuffix type="button" (click)="imagemInput.click()">
              <mat-icon>file_upload</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <input style="display: none" type="file" accept="image/*" #imagemInput (change)="selecionaImagem($event)">
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>categorias</mat-label>
            <mat-select formControlName="categorias" multiple>
              <mat-option *ngFor="let categoria of categorias"
                          [value]="categoria.codigo">{{categoria.nome}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formulario.get('categorias')?.errors?.required">campo obrigatório</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div formGroupName="endereco">
        <h3>informe o endereço de seu estabelecimento</h3>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>cep</mat-label>
              <input matInput mascara="#####-###" formControlName="cep">
              <mat-error *ngIf="formulario.get('endereco.cep')?.errors?.required">campo obrigatório</mat-error>
              <mat-error *ngIf="formulario.get('endereco.cep')?.errors?.minlength">cep inválido</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="fill">
              <mat-label>rua</mat-label>
              <input matInput formControlName="rua">
              <mat-error *ngIf="formulario.get('endereco.rua')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="fill">
              <mat-label>bairro</mat-label>
              <input matInput formControlName="bairro">
              <mat-error *ngIf="formulario.get('endereco.bairro')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>cidade</mat-label>
              <input matInput formControlName="cidade">
              <mat-error *ngIf="formulario.get('endereco.cidade')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>estado</mat-label>
              <input matInput formControlName="estado">
              <mat-error *ngIf="formulario.get('endereco.estado')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>complemento</mat-label>
              <input matInput formControlName="complemento">
              <mat-error *ngIf="formulario.get('endereco.complemento')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>número</mat-label>
              <input matInput formControlName="numero">
              <mat-error *ngIf="formulario.get('endereco.numero')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-button type="submit" [disabled]="formulario.invalid" (click)="cadastraLoja()">cadastrar</button>
    </form>
  </div>
</div>
