<div class="container">
  <div class="row">
    <div class="col p-3">
      <h1>Vamos falar do seu estabelecimento?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col p-3">
      <h2>Agora vamos precisar que você fale um pouco sobre o seu estabelecimento</h2>
    </div>
  </div>
  <div class="row p-3 p-lg-5">
    <form autocomplete="off" [formGroup]="formulario">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Nome da estabelecimento</mat-label>
            <input matInput formControlName="nome" required>
            <mat-error *ngIf="formulario.get('nome')?.errors?.required">Campo obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>CNPJ</mat-label>
            <input matInput mascara="##.###.###/####-##" formControlName="cnpj" maxlength="18" required>
            <mat-error *ngIf="formulario.get('cnpj')?.errors?.required">Campo obrigatório</mat-error>
            <mat-error
              *ngIf="formulario.get('cnpj')?.errors?.minlength || formulario.get('cnpj')?.errors?.cnpjInvalido">
              CNPJ inválido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="descricao" maxlength="500" required></textarea>
            <mat-error *ngIf="formulario.get('descricao')?.errors?.required">Campo obrigatório</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput telefone formControlName="telefone" required placeholder="Ex.: (99) 99999-9999">
            <mat-error *ngIf="formulario.get('telefone')?.errors?.required">Campo obrigatório</mat-error>
            <mat-error *ngIf="formulario.get('telefone')?.errors?.minlength">Telefone inválido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Imagem</mat-label>
            <input matInput [formControl]="descricaoImagemInput" maxlength="18" required>
            <mat-error *ngIf="formulario.get('imagem')?.errors?.required">Campo obrigatório</mat-error>
            <button mat-icon-button matSuffix type="button" (click)="imagemInput.click()">
              <mat-icon>file_upload</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <input style="display: none" type="file" accept="image/*" #imagemInput (change)="selecionaImagem($event)">
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Categorias</mat-label>
            <mat-select formControlName="categorias" multiple required>
              <mat-option *ngFor="let categoria of categorias"
                          [value]="categoria.codigo">{{categoria.nome}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formulario.get('categorias')?.errors?.required">Campo obrigatório</mat-error>
          </mat-form-field>
        </div>
      </div>
      <app-endereco [formulario]="formulario.get('endereco')"></app-endereco>
      <button mat-button type="submit" [disabled]="formulario.invalid" (click)="cadastraLoja()">Cadastrar</button>
    </form>
  </div>
</div>
